* { margin: 0;
    padding: 0;
}


#msg{
    text-align: center;

}

h1 {
    padding-top: 2em;
    color: black;
    text-align: center;
}

.container {
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 300px;
    width: 300px;
    gap: 0px;
}


.s_feld {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 90px;
    color: red;
    border: black solid 3px;
    height: 100px;
    width: 100px;
}

.button_wrapper {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
}

#reset {
    color: whitesmoke;
    font-size: large;

}

#brettanzeige {
    display: none;
}
